.container {
    text-align: center;
    display: grid;
    grid-template-rows: 10vh 5vh 90vh;
    gap: 10px;
}

header {
    grid-row: 1;
    width: 100vw;
    padding: 10px;
    background-color: #16171a;
    position: fixed;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    z-index: 2;
}

header > img {
    height: 8vmin;
    pointer-events: none;
}

section {
    grid-row: 2;
    display: block;    
}

main {
    margin-top: 2.5vh;
    grid-row: 3;
    margin-left: 5% ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    max-width: 90vw;
    gap: 60px;
}

@media (max-width: 1500px) {
    main {
        margin-top: 200px;
    }
}

@media (max-width: 800px) {
    main {
        margin-top: 250px;
    }
}
@media (max-width: 610px) {
    main {
        margin-top: 310px;
    }
}
@media (max-width: 440px) {
    main {
        margin-top: 330px;
    }
}
@media (max-width: 415px) {
    main {
        margin-top: 400px;
    }
}
@media (max-width: 364px) {
    main {
        margin-top: 500px;
    }
}
@media (max-width: 345px) {
    main {
        margin-top: 560px;
    }
}

