.pkf-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: calc(10px + 0.75vmin);

}
.pkf-select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: calc(10px + 0.75vmin);


}

.pkf-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #16171a;
    background-color: #16171a;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

option:hover {
    border-bottom: #cb4747;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

button > img {
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
    filter: brightness(0) invert(1);

}

@media (max-width: 1500px) {
        .pkf-container {
            margin-top: 50px;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }