.pkc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: #1d1d1d;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(8, 8, 8, 0.75);
    text-align: center;
}

.pkc-number {
    position: absolute;
    transform: translate(75px, -100px);
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.pkc-main-type-BUG:hover {
    box-shadow: 0px 0px 10px 0px rgba(168, 184, 32, 0.75);
    border-color: rgb(168, 184, 32);
}
.pkc-main-type-DARK:hover {
    box-shadow: 0px 0px 10px 0px rgba(112, 88, 72, 0.75);
    border-color: rgb(112, 88, 72);
}
.pkc-main-type-DRAGON:hover {
    box-shadow: 0px 0px 10px 0px rgba(112, 56, 248, 0.75);
    border-color: rgb(112, 56, 248);
}
.pkc-main-type-ELECTRIC:hover {
    box-shadow: 0px 0px 10px 0px rgba(248, 208, 48, 0.75);
    border-color: rgb(248, 208, 48);
}
.pkc-main-type-FAIRY:hover {
    box-shadow: 0px 0px 10px 0px rgba(238, 153, 172, 0.75);
    border-color: rgb(238, 153, 172);
}
.pkc-main-type-FIGHTING:hover {
    box-shadow: 0px 0px 10px 0px rgba(192, 48, 40, 0.75);
    border-color: rgb(192, 48, 40);
}
.pkc-main-type-FIRE:hover {
    box-shadow: 0px 0px 10px 0px rgba(240, 128, 48, 0.75);
    border-color: rgb(240, 128, 48);
}
.pkc-main-type-FLYING:hover {
    box-shadow: 0px 0px 10px 0px rgba(168, 144, 240, 0.75);
    border-color: rgb(168, 144, 240);
}
.pkc-main-type-GHOST:hover {
    box-shadow: 0px 0px 10px 0px rgba(112, 88, 152, 0.75);
    border-color: rgb(112, 88, 152);
}
.pkc-main-type-GRASS:hover {
    box-shadow: 0px 0px 10px 0px rgba(120, 200, 80, 0.75);
    border-color: rgb(120, 200, 80);
}
.pkc-main-type-GROUND:hover {
    box-shadow: 0px 0px 10px 0px rgba(224, 192, 104, 0.75);
    border-color: rgb(224, 192, 104);
}
.pkc-main-type-ICE:hover {
    box-shadow: 0px 0px 10px 0px rgba(152, 216, 216, 0.75);
    border-color: rgb(152, 216, 216);
}
.pkc-main-type-NORMAL:hover {
    box-shadow: 0px 0px 10px 0px rgba(168, 168, 120, 0.75);
    border-color: rgb(168, 168, 120);
}
.pkc-main-type-POISON:hover {
    box-shadow: 0px 0px 10px 0px rgba(160, 64, 160, 0.75);
    border-color: rgb(160, 64, 160);
}
.pkc-main-type-PSYCHIC:hover {
    box-shadow: 0px 0px 10px 0px rgba(248, 88, 136, 0.75);
    border-color: rgb(248, 88, 136);
}
.pkc-main-type-ROCK:hover {
    box-shadow: 0px 0px 10px 0px rgba(184, 160, 56, 0.75);
    border-color: rgb(184, 160, 56);
}
.pkc-main-type-STEEL:hover {
    box-shadow: 0px 0px 10px 0px rgba(184, 184, 208, 0.75);
    border-color: rgb(184, 184, 208);
}
.pkc-main-type-WATER:hover {
    box-shadow: 0px 0px 10px 0px rgba(104, 144, 240, 0.75);
    border-color: rgb(104, 144, 240);
}

.pkc-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    font-size: 12px;
}

.pkc-types > h2 {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px 8px;
}

.pkc-type-BUG {
    background-color: rgb(168, 184, 32);
}
.pkc-type-DARK {
    background-color: rgb(112, 88, 72);
}
.pkc-type-DRAGON {
    background-color: rgb(112, 56, 248);
}
.pkc-type-ELECTRIC {
    background-color: rgb(248, 208, 48);
}
.pkc-type-FAIRY {
    background-color: rgb(238, 153, 172);
}
.pkc-type-FIGHTING {
    background-color: rgb(192, 48, 40);
}
.pkc-type-FIRE {
    background-color: rgb(240, 128, 48);
}
.pkc-type-FLYING {
    background-color: rgb(168, 144, 240);
}
.pkc-type-GHOST {
    background-color: rgb(112, 88, 152);
}
.pkc-type-GRASS {
    background-color: rgb(120, 200, 80);
}
.pkc-type-GROUND {
    background-color: rgb(224, 192, 104);
}
.pkc-type-ICE {
    background-color: rgb(152, 216, 216);
}
.pkc-type-NORMAL {
    background-color: rgb(168, 168, 120);
}
.pkc-type-POISON {
    background-color: rgb(160, 64, 160);
}
.pkc-type-PSYCHIC {
    background-color: rgb(248, 88, 136);
}
.pkc-type-ROCK {
    background-color: rgb(184, 160, 56);
}
.pkc-type-STEEL {
    background-color: rgb(184, 184, 208);
}
.pkc-type-WATER {
    background-color: rgb(104, 144, 240);
}
